@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
	--color-black: #060606;
	--color-black-soft: #292941;
	--color-dark: #1a1a36;
	--color-dark-soft:  #333;
	--color-gray: #808080;
	--color-gray-soft: #b4b4b4;
	--color-white: #fafaf7;
	--color-light: #cacae7;
	--color-yellow: #facc15;
	--color-blue: #1d4ed8;
	--color-red: #e11d48;
	--color-white: #f0f0f0;
	--color-text: var(--color-white);
	--color-text-soft: var(--color-light);
	--color-background: var(--color-black);
	--color-background-soft: var(--color-black-soft);
	--color-heading: var(--color-white);
	--color-heading-inverted: var(--color-black-soft);
}

body {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: Roboto, Ubuntu, 'Fira Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-weight: bold;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

.-highlight-text {
  color: var(--color-blue);
}

/* Arrows */
.ant-carousel .slick-prev, .ant-carousel .slick-next {
	border: 1px solid var(--color-blue);
	background: var(--color-gray);
	border-radius: 50%;
	padding: 0.7rem;
	font-size: 2rem;
	color: var(--color-white);
}

.ant-carousel .slick-prev::after {
	top: 30%;
	left: 30%;
}
.ant-carousel .slick-next::after {
	top: 30%;
	left: 15%;
}

.ant-carousel .slick-prev:hover, .ant-carousel .slick-next:hover {
	background: var(--color-blue);
}

/* Dots */
.ant-carousel .slick-dots li button {
	background: var(--color-black-soft);
}
.ant-carousel .slick-dots li.slick-active button {
	background: var(--color-red);
}
